body{
    margin: 0px 0px 0px 0px;
    overflow-x: hidden ;
    /* width:fit-content; */
}

.hero{
    margin: 0px 0px 0px 0px;
    /* background-image: url(Practice2_Assets/back.jpg); */
    /* background-color: antiquewhite; */
    width:100%;
    /* width: fit-content; */
    height: 3000px;
}

.TopBar{
    width: 100%;
    /* width: fit-content; */
    height: 650px;
    background-image: url(Practice2_Assets/back.jpg);
    background-size: cover;
    opacity: 0.95;
}

.Top_options{
    display: flex;
    flex-direction: row;
    /* background-color: antiquewhite; */
    margin: 0px 0px 0px 10%;
    width: fit-content;
    padding-top: 30px;
}

.opts{
    color: white;
    margin: 0px 0px 0px 40px;
    font-family: 'Lexend';
    font-weight: 500;
    cursor:pointer;
    position: relative;
    overflow: hidden;
    transition-delay: 0s;

}

.opts::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    transform: scale(0);
    transition: transform 0.3s ease;
    transform-origin: left;

}

.opts:hover::after{
    transform: scaleX(1);
    transition: transform 0.3s ease;
    /* text-decoration: underline;
    text-underline-offset: 8px; */
}

.opts:active{
    color: yellow;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.Top_nav{
    display: flex;
    flex-direction: row;
    margin: -20px 0px 0px 70%;
}

.search{
    display: none;
    /* display: flex; */
    width: 25%;
    background-color: white;
    opacity: 0.7;
    height: 45px;
    margin: -415px 0px 0px 46%;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.5s;
    animation: searchbar_anim 0.4s ease-in 0s 1 both;

}

.searchbar{
    position: relative;
    margin-left: 15px;
    width: 350px;
    border: none;
    font-size: 16px;
    /* width: 0px; */
}

.searchbar:focus{
    border: none;
    outline: none;
}

.searchbar::placeholder{
    padding-left: 15px;
    font-size: 14px;
    color: rgb(61, 61, 61);
}

.searchbar:focus::placeholder{
    color: white;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Lexend';
}

.searchbar::selection{
    padding-left: 15px;
}

.illustration{
    width: 20px;
    height: 20px;
}

.nav{
    margin: 0px 0px 0px 30px;
    cursor: pointer;
    transition: margin 0.3s;
    height: 30px;
}

.nav:hover{
    margin-top: -5px;
    transition: margin 0.3s;
}

.TopBar_content{
    position: relative;
    width: 530px;
    display: flex;
    flex-direction: column;
    margin: 90px 0px 0px 12.5%;
    /* font-family: Aroug; */
    font-family: 'Lexend';
    font-size: 40px;
    color: white;
    /* text-shadow: 8px 8px 2px red; */
    animation: SlideInLeft 1s ease 0s 1 normal;
}

.Explore_button{
    border: none;
    font-family: 'Lexend';
    font-size: 16px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #ffa33a;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
    transition: transform 0.3s;
    transition: box-shadow 0.3s;
}

.Explore_button:hover{
    box-shadow: 0px 0px 8px rgb(237, 237, 237);
    transition: box-shadow 0.3s;
    /* background-color: #de8f35; */
}

.Explore_button:active{
    background-color: #8de239;
    transition: background-color 0.3s ;
    transition-timing-function: linear;
}

.ShopCard , .ItemCard{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    margin: 85px 0px 0px 9.5%;
    width:80%;
    /* width: fit-content; */
    /* height: 400px; */
    height: 13.9%;
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 500;
    overflow-x:scroll ;
}

.card_layout, .item_card_layout{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 100%;
    /* overflow-x: scroll; */
}

.card , .offers_card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightslategray; */
    /* background-color: lightslategray; */
    width: 250px;
    height: 95%;
    margin: 0px 0px 0px 20px;
    background-size: cover;
    transition: transform 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.shop_now{
    font-family: 'Lexend';
    font-size: 16px;
    border: 1px solid lightslategray;
    width: 90%;
    height: 40px;
    margin: 10px 0px 0px 5%;
    background-color: white;
    cursor: pointer;
    padding: 0px 0px 0px 0px ;
    /* justify-self: center; */
}

.shop_now:hover{
    background-color: rgb(241, 243, 117);
    /* background-color: #ffa33a; */
}

.item_name, .i_name{
    margin: 10px 0px 0px 15px;
    /* background-color: aquamarine; */
    font-size: 22px;
    font-weight: 600;
}

.item_desc , .i_desc{
    font-size: 12px;
    /* background-color: aquamarine; */
    margin: 10px 0px 0px 15px;
    padding-right: 15px;
    height: 62%;
}

.price_range{
    /* position: fixed; */
    margin: 0% 0px 0px 7%;
    font-size: 14px;
    text-shadow: 2px 2px 2px white;
}

.card:hover , .offers_card:hover{
    transform: scale(1.05,1.05);
}

.card::backdrop , .offers_card::backdrop{
    transform: scale(1,1);
    transition: transform 0.5s;
}

.BrandCard{
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    margin: 95px 0px 0px 9.5%;
    /* width:1300px; */
    width: 80%;
    height: 280px;
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: 500;
}


.Bcard_layout{
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
    margin: 30px 0px 0px 0px;
    width: 100%;
    height:100%;
    overflow-x: scroll;
}

.Bcard{
    display: flex;
    width: 1000px;
    margin: 10px 10px 0px 20px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    /* background-color:blueviolet; */
    background-size: cover;
    background-repeat: no-repeat;
    /* .inner{
        transform: scale(0.5,0.5);
    } */
    cursor: pointer;
    transition: all 0.3s;
    height: 85%;

}

.Bcard:hover{
    transform: scale(1.05,1.05);
    border: 2px solid #ffa33a;
}

@keyframes SlideInLeft{
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(0);
    }
}

h3{
    background-image: url(Practice2_Assets/gif6.gif);
    background-size: cover;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: Zara-font;
    src: url(Practice2_Assets/OPTIBodoni-Antiqua.otf);
    font-family: Remine;
    src: url(Practice2_Assets/Remine-Fares.otf);
    font-family: Aroug;
    src: url(Practice2_Assets/BlackArougDemoVersion.otf);
}

::selection{
    color: white;
    background-color: black;
}


.side_content , .sideon{
    position: fixed;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
    /* color: white; */
    opacity: 0.7;
    color: #3a3a3a;
    margin: -420px 0px 0px 1280px;
    font-family: 'Lexend';
    /* width: 225px; */
    width: 10%;
    font-size: 20px;
    transition: 0.5s;
    overflow: hidden;
    right: -250px;
    border: 1px solid #3a3a3a;

}

.side_content div, .sideon div{
    margin-top: 0px;
    cursor: pointer;
    padding: 20px 0px 20px 30px;
}

.side_content div:hover ,.sideon div:hover{
    background-color: rgb(234, 234, 234);
}

.sideon{
    right: 0px;
}

@keyframes searchbar_anim{
    from{
        transform: scaleX(0);
        transform-origin: right;
    }
    to{
        transform: scaleX(1);
        transform-origin: right;
    }
}

.offers_card{
    width: 300px;
}


::-webkit-scrollbar{
    height: 1px;
    width: 1px;
}



