body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: url(images/background.png);
}

.container{
    width: 1140px;
    margin:auto;
}

.nav {
    margin-top: 58px;
}

.nav .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-brand, .nav-ctas {
    width: 20%;
}

.menu-item {
    color: black;
    text-decoration: none;
    opacity: 0.8 ;
}

.menu-item:hover {
    opacity: 1;
    font-weight: 600;
    border-radius: 1px solid black;
}

 .menu-item-active {
    opacity: 1;
    font-weight: 600;

 }
.brand {
    font-size: 22px;
    font-weight: 600;
}
.menu {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nav-ctas {
    text-align: right;
}

     .sign-up {
    padding: 10px 25px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    
}

.hero {
    display: flex;
    padding: 135px 0;
    flex-direction: column;
    gap: 15px;
    width: 653px;
    align-items: center;
    margin: 0 auto;
}
.hero-headline, .hero-subheadline{
    text-align: center;
    margin: 0;
}

.hero-headline{
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
}

.hero-subheadline {
    font-size: 16px;
    line-height: 32px;
    width: 553px;
    color: rgba(0,0,0,0.6);
}

.hero-ctas {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.cta-primary, .cta-secondary {
    padding: 12px 17px;
    display: inline-block;
    font-weight: 600;
}
.hero-ctas {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex: 1;
}

.cta-primary {
    background-color: #001aff;
    color:#fff;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0px 15px 30px rgba(0, 26, 255, 0.2);
}

.cta-secondary{
    color: #001aff;
}

.jobs-headline {
    font-size: inherit;
     font-weight: 600;
}

.jobs {
    text-align: left;
}

.job-list {
    display: flex;
    gap: 30px;
}

.job {
    width: calc(100% / 3);
    padding: 25px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6   );
    box-shadow: 0px 30px 60px rgba(0, 26, 255, 0.1);
}

.job:hover {
    background-color: #001AFF;
}

.job:hover .job-title,
.job:hover .job-company, 
.job:hover .job-description, 
.job:hover .job-salary, 
.job:hover .job-tag {
    color: #fff;
}



.job-header {
    display: flex;
    align-items: center;
}

.job-logo {
    flex-shrink: 0;
    width:50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.job-meta {
    margin-left: 13px;
}

.job-title {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.job-company {
    margin: 0;
    font-size: 14px ;
    margin: 0;
    color: rgba(0, 0, 0, 0.8 );
}

.job-description {
    color: rgba(0, 0, 0, 0.8 );
    margin: 17px 0;
    line-height: 26px   ;
}

.job-divider {
    margin: 25px 0;
    border-color: rgba(0, 0, 0, 0.1 );
}

.job-footer {
    display: flex;
    align-items: center;
}

.job-salary{
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
}

.job-tag {
    padding: 5px 15px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(206, 206, 206, 0.7);
}