body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    margin: 0;
}

.game-container {
    display: flex;
}



.hole {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 2px solid #000;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.scoreline {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
