.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--main-background-color);
  padding: 0 16px;
  height: 55px;
}

.navIcon {
  height: 24px;
  width: 24px;
}

.navTitle {
  color: var(--secondary-font-color);
  font-size: 24px;
  font-weight: bold;
}
